@font-face {
	font-family: 'Roboto-BlackItalic';
	src: url('../fonts/Roboto-BlackItalic.woff2') format('woff2'),
		 url('../fonts/Roboto-BlackItalic.woff') format('woff');
	font-weight: 900;
	font-style: italic;
	font-display: swap;
}
@font-face {
	font-family: 'Roboto-Black';
	src: url('../fonts/Roboto-Black.woff2') format('woff2'),
		 url('../fonts/Roboto-Black.woff') format('woff');
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Roboto-Bold';
	src: url('../fonts/Roboto-Bold.woff2') format('woff2'),
		 url('../fonts/Roboto-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Roboto-BoldItalic';
	src: url('../fonts/Roboto-BoldItalic.woff2') format('woff2'),
		 url('../fonts/Roboto-BoldItalic.woff') format('woff');
	font-weight: bold;
	font-style: italic;
	font-display: swap;
}
@font-face {
	font-family: 'Roboto-Italic';
	src: url('../fonts/Roboto-Italic.woff2') format('woff2'),
		 url('../fonts/Roboto-Italic.woff') format('woff');
	font-weight: normal;
	font-style: italic;
	font-display: swap;
}
@font-face {
	font-family: 'Roboto-Light';
	src: url('../fonts/Roboto-Light.woff2') format('woff2'),
		 url('../fonts/Roboto-Light.woff') format('woff');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Roboto-MediumItalic';
	src: url('../fonts/Roboto-MediumItalic.woff2') format('woff2'),
		 url('../fonts/Roboto-MediumItalic.woff') format('woff');
	font-weight: 500;
	font-style: italic;
	font-display: swap;
}
@font-face {
	font-family: 'Roboto-Medium';
	src: url('../fonts/Roboto-Medium.woff2') format('woff2'),
		 url('../fonts/Roboto-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Roboto-LightItalic';
	src: url('../fonts/Roboto-LightItalic.woff2') format('woff2'),
		 url('../fonts/Roboto-LightItalic.woff') format('woff');
	font-weight: 300;
	font-style: italic;
	font-display: swap;
}
@font-face {
	font-family: 'Roboto-Thin';
	src: url('../fonts/Roboto-Thin.woff2') format('woff2'),
		 url('../fonts/Roboto-Thin.woff') format('woff');
	font-weight: 100;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Roboto-ThinItalic';
	src: url('../fonts/Roboto-ThinItalic.woff2') format('woff2'),
		 url('../fonts/Roboto-ThinItalic.woff') format('woff');
	font-weight: 100;
	font-style: italic;
	font-display: swap;
}
@font-face {
	font-family: 'Roboto-Regular';
	src: url('../fonts/Roboto-Regular.woff2') format('woff2'),
		 url('../fonts/Roboto-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Archer-BookItalic';
	src: url('../fonts/Archer-BookItalic.woff2') format('woff2'),
		 url('../fonts/Archer-BookItalic.woff') format('woff');
	font-weight: normal;
	font-style: italic;
	font-display: swap;
}
@font-face {
	font-family: 'Archer-Bold';
	src: url('../fonts/Archer-Bold.woff2') format('woff2'),
		 url('../fonts/Archer-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Archer-Book';
	src: url('../fonts/Archer-Book.woff2') format('woff2'),
		 url('../fonts/Archer-Book.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Archer-LightItalic';
	src: url('../fonts/Archer-LightItalic.woff2') format('woff2'),
		 url('../fonts/Archer-LightItalic.woff') format('woff');
	font-weight: 300;
	font-style: italic;
	font-display: swap;
}
@font-face {
	font-family: 'Archer-Hairline';
	src: url('../fonts/Archer-Hairline.woff2') format('woff2'),
		 url('../fonts/Archer-Hairline.woff') format('woff');
	font-weight: 200;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Archer-Light';
	src: url('../fonts/Archer-Light.woff2') format('woff2'),
		 url('../fonts/Archer-Light.woff') format('woff');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Archer-Medium';
	src: url('../fonts/Archer-Medium.woff2') format('woff2'),
		 url('../fonts/Archer-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Archer-Semibold';
	src: url('../fonts/Archer-Semibold.woff2') format('woff2'),
		 url('../fonts/Archer-Semibold.woff') format('woff');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Archer-ExtraLight';
	src: url('../fonts/Archer-ExtraLight.woff2') format('woff2'),
		 url('../fonts/Archer-ExtraLight.woff') format('woff');
	font-weight: 200;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'OpenSansLight';
	src: url('../fonts/OpenSans-Light.woff2') format('woff2'),
		 url('../fonts/OpenSans-Light.woff') format('woff');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'OpenSansExtraBold';
	src: url('../fonts/OpenSans-ExtraBold.woff2') format('woff2'),
		 url('../fonts/OpenSans-ExtraBold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'OpenSansBoldItalic';
	src: url('../fonts/OpenSans-BoldItalic.woff2') format('woff2'),
		 url('../fonts/OpenSans-BoldItalic.woff') format('woff');
	font-weight: bold;
	font-style: italic;
	font-display: swap;
}
@font-face {
	font-family: 'OpenSansBold';
	src: url('../fonts/OpenSans-Bold.woff2') format('woff2'),
		 url('../fonts/OpenSans-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'OpenSansItalic';
	src: url('../fonts/OpenSans-Italic.woff2') format('woff2'),
		 url('../fonts/OpenSans-Italic.woff') format('woff');
	font-weight: normal;
	font-style: italic;
	font-display: swap;
}
@font-face {
	font-family: 'OpenSansItalic';
	src: url('../fonts/OpenSans-Italic.woff2') format('woff2'),
		 url('../fonts/OpenSans-Italic.woff') format('woff');
	font-weight: 900;
	font-style: italic;
	font-display: swap;
}
@font-face {
	font-family: 'OpenSansLightItalic';
	src: url('../fonts/OpenSans-LightItalic.woff2') format('woff2'),
		 url('../fonts/OpenSans-LightItalic.woff') format('woff');
	font-weight: 300;
	font-style: italic;
	font-display: swap;
}
@font-face {
	font-family: 'OpenSansSemiBold';
	src: url('../fonts/OpenSans-SemiBold.woff2') format('woff2'),
		 url('../fonts/OpenSans-SemiBold.woff') format('woff');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'OpenSansSemiBoldItalic';
	src: url('../fonts/OpenSans-SemiBoldItalic.woff2') format('woff2'),
		 url('../fonts/OpenSans-SemiBoldItalic.woff') format('woff');
	font-weight: 600;
	font-style: italic;
	font-display: swap;
}
@font-face {
	font-family: 'OpenSansRegular';
	src: url('../fonts/OpenSans-Regular.woff2') format('woff2'),
		 url('../fonts/OpenSans-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}